<template>
  <div>
    <h1>{{ msg }}</h1>
    <button @click="onColorChange(true)">切换</button>
    <button @click="onColorChange(false)">重置</button>
    <div ref="container" class="container"></div>
  </div>
</template>

<script setup>
defineProps({
  msg: String,
});

import {
  PerspectiveCamera,
  AmbientLight,
  Scene,
  DirectionalLight,
  WebGLRenderer,
  Raycaster,
  AxesHelper,
  Vector3,
  Vector2,
  PointLight,
  Mesh,
  Color,
} from "three";
import { OBJLoader, MTLLoader } from "three-obj-mtl-loader";
import { onMounted, ref } from "vue";
import OrbitControls from "three-orbitcontrols";
import { createSpriteByCanvas } from '../utils/textTools';

const container = ref(null);
let upTxt = ref(null);
let underTxt = ref(null);
let scene,
  light,
  camera,
  controls,
  renderer,
  axesHelper,
  raycaster,
  mouse,
  requestId = null;
let objects = [];
let originColor = null;

let showLabel = ref(false);

const initScene = () => {
  scene = new Scene();
  scene.add(new AmbientLight(0xbbddcc, 1));
  console.log("【Three】创建场景 Scene ", scene);
  console.log("容器", container.value);

  light = new DirectionalLight(0xffcc00, 0, 45);
  light.position.set(50, 50, 100);
  light.position.multiplyScalar(0.3);
  scene.add(light);

  axesHelper = new AxesHelper(15);
  scene.add(axesHelper);
};

const initCamera = () => {
  const aspect = window.innerWidth / window.innerHeight;
  camera = new PerspectiveCamera(45, aspect, 1, 1000);
  camera.position.set(15, 25, 20);
  // 让相机指向原点
  camera.lookAt(new Vector3(0, 0, 0));
  const pointLight = new PointLight(0xffffff, 1, 100);
  pointLight.position.set(0, 0, 20100);
  scene.add(pointLight);
  scene.add(camera);
};

const initMouseEvents = () => {
  //鼠标点击事件
  raycaster = new Raycaster();
  mouse = new Vector2();
  window.document.addEventListener(
    "mousedown",
    (evt) => {
      evt.preventDefault();
      mouse.x = (evt.clientX / renderer.domElement.clientWidth) * 2 - 1;
      mouse.y = -(evt.clientY / renderer.domElement.clientHeight) * 2 + 1;
      
      raycaster.setFromCamera(mouse, camera);

      let intersects = raycaster.intersectObjects(objects);
      if (intersects.length > 0) {
        console.log("响应的对象：", intersects[0].object);
        const curMesh = intersects[0].object;
        // curMesh.material.color = new Color(0xffffff * Math.random());
      }
    },
    false
  );
};

const initRenderer = () => {
  console.log("初始化渲染器");
  //是否开启反锯齿，设置为true开启反锯齿,是否可以设置背景色透明。
  renderer = new WebGLRenderer({ antialias: true, alpha: true });
  //像素比
  renderer.setPixelRatio(window.devicePixelRatio);
  renderer.setSize(window.innerWidth, innerHeight);

  //渲染到那个容器
  container.value.appendChild(renderer.domElement);
};

const initOrbitControls = () => {
  console.log("初始化控制器");
  controls = new OrbitControls(camera, renderer.domElement);
  controls.enableDamping = true;
  controls.enableZoom = true;
  controls.zoomSpeed = 1;
  controls.autoRotate = false;
  controls.autoRotateSpeed = 1;
  controls.enablePan = true;
  controls.enableKeys = true;
  controls.keyPanSpeed = 3;
  controls.keys = {
    LEFT: 61,
    UP: 77,
    RIGHT: 88,
    BOTTOM: 64,
  };
};

const animate = () => {
  renderer.render(scene, camera);
  controls.update();
  requestId = requestAnimationFrame(animate);
};

const loadModel = () => {
  const objLoader = new OBJLoader();
  objLoader.load("./src/assets/demo.obj", (obj3d) => {
    obj3d.position.set(1, 5, 5);
    obj3d.scale.set(0.02, 0.02, 0.02);
    scene.add(obj3d);
    objects = obj3d.children;
    originColor = objects[0].material.color;
    // createTexts();
  });
};


//通过名称的数字查找到对应的部件
const regex = /331190|331193|331222|331225/g;
const createTexts = () => {
  objects.find((item) => {
    const result = item.name.match(regex);
    // if (!!result) {
    //   let txtRect = createSpriteByCanvas({content: item.name});
    //   txtRect.position.set(item.position.x, item.position.y, item.position.z);
    //   scene.add(txtRect);
    // }
  });
};

const onColorChange = (flag) => {
  objects.find(item => {
    if ( !!item.name.match(regex) ){
      showLabel.value = flag;
      const isUp = !!item.name.match(/331225|331193/g);
      if (flag) {
        item.material.color = new Color(isUp ? 0x4c74c9: 0xc2ff6b);
      } else {
        item.material.color = originColor;
      }
    }
  })
}

onMounted(() => {
  initScene();
  initCamera();
  initRenderer();
  initOrbitControls();
  loadModel();
  animate();
  initMouseEvents();
});
</script>

<style lang="scss" scoped>
.container {
  width: 100%;
  // height: 400px;
  // background-color: burlywood;
}
</style>
